{% extends "mainTemplate.twig" %}

{% block content %}

<div id="resume-header" class="row">
     
      <div class="col">
        <h1>{{name}}</h1>
        <h2>Client Manager</h2>
       
      </div>
    </div>
   
    <div class="row">
      <div class="col">
        <div>
          <h3 class="border-bottom-gray" >Products</h3>
          <ul>
                   <ul>
                      {% for product in products %}
                     <li class="work-position"> 
                         <h5>{{ product.productname }} </h5>
                     
                      {% if product.filename == '' %}
                           <h5>No image founded :/</h5>
                      {% else %}
                           <img src="uploads/{{ product.filename }}" alt="image"style=" width:120px; heigh:90px;">
                      {% endif %}
                     </li>            
               {% endfor %}

                  </ul>

          </ul>
        </div>
       
      
    <div id="resume-footer" class="row">
      <div class="col">
          Designed by Sebastián Hernández Caro
      </div>
    </div>


{% endblock %}
