{% extends "mainTemplate.twig" %}

{% block content %}

<div id="resume-header" class="row">
     
      <div class="col">
        <h1>{{name}}</h1>
        <h2>Client Manager</h2>
       
      </div>
    </div>
   
    <div class="row">
      <div class="col">
        <div>
          <h3 class="border-bottom-gray" >Products</h3>
         
            <table>
                  <tr>

                    <td>Nombre Producto</td>

                    <td>Ilustracion </td>

                    <td>Acciones</td>

                  </tr>

                  
                    {% for product in products %}
                  <tr>
                         <td>{{ product.productname }} </td>
                     
                      {% if product.filename == '' %}
                           <td>No image founded :/</td>
                      {% else %}
                          <td> <img src="uploads/{{ product.filename }}" alt="image"style=" width:120px; heigh:90px;"></td>
                      {% endif %}

                  </tr>            
               {% endfor %}
                   

                    

            
            </table>
        
                  
                    

                  

        </div>
       
      
    <div id="resume-footer" class="row">
      <div class="col">
          Designed by Sebastián Hernández Caro
      </div>
    </div>


{% endblock %}
